DATABASE_URL=postgres://user:password@localhost:5432/solana_api
RUST_LOG=info
RPC_URL=http://localhost:8899
TELEGRAM_BOT_TOKEN=token
JWT_SECRET=secret
AUTHORITY_KP=keypair_as_base58
AUDITOR_KP=keypair_as_base58